/* Fuentes de iconos */
@font-face {
    font-family: 'icomoon';
    src:  url('../public/fonts/icomoon.eot?447xj9');
    src:  url('../public/fonts/icomoon.eot?447xj9#iefix') format('embedded-opentype'),
      url('../public/fonts/icomoon.ttf?447xj9') format('truetype'),
      url('../public/fonts/icomoon.woff?447xj9') format('woff'),
      url('../public/fonts/icomoon.svg?447xj9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pencil:before {
    content: "\e905";
  }
  .icon-bin:before {
    content: "\e9ac";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-checkmark:before {
    content: "\ea10";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  


body{
    margin: 0;
}
header{
    display: flex;
}
li{
    display: inline;
}
a{
    text-decoration: none;
}

/* Nav-bar */

.container-logo{
    width: 8%;
    /* height: 100%; */
    background: #EEEEEE;
    padding: 10px;
}

.container-logo img{
    height: 100%;
    width: 100%;
    margin-left:3px; 
}

.navbar{
    width: 100%;
}

#header-search{
    width: 100%;
}

/* Categorias */

.categorias{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.categorias p{
    margin-top: 12px;
    margin-left: 35px;
}
.categorias button{
    margin-top: 10px;
    text-transform: uppercase;
}



/* Footer */
footer{
    background: #F8F9FA;
    margin-top: 100%;
}
.redes{
    height: 100%;
    background: #F8F9FA;
    text-align: center;
}
.redes a{
    color: black;
    text-decoration: none;
    font-size: 200%;
    margin: 1%;
}
.redes ul{
    margin: 0;
}